.aboutme__section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &--title {
        font-size: 60px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-top: 50px;
    }

    &--description {
        font-size: 30px;
        font-weight: 400;
        color: white;
        text-align: center;
        margin-top: 20px;
        width: 60%;
        margin: auto;
        position: relative;
    }

    &--btn {
        width: 350px;
        content: '';
        position: relative;
        color: white;
        background-color: $first-color;
        font-size: 30px;
        font-weight: 600;
        bottom: -25px;
        margin: 0 auto;
        padding: 13px;
        border: none;
        border-radius: 5px;
        transition: 0.3s ease;

        &:hover {
            background-color: darken($first-color, 10%);
            transform: scale(1.05);
        }
    }
}

@media (max-width: 768px) {

    .aboutme__section {
        width: 100%;
        padding: 20px;

        &--title {
           white-space: nowrap;
           text-align: center;
        }

        &--btn {
            bottom: -40px;
        }
    }



}