.whatiuse__section {
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;

    &--title {
        font-size: 40px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-top: 50px;
    }

    &--item {
        margin-top: 50px;
        border-radius: 20px;
        background-color: white;
        width: 300px;
        height: 300px;
        transition: 0.3s ease;

        &-pic {
            content: '';
            position: relative;
            width: 100px;
            height: 100px;
            left: 100px;
            top: 10px;
        }

        &-title {
            font-size: 25px;
            font-weight: 700;
            color: black;
            text-align: center;
            margin-top: 20px;
        }

        &-desc {
            font-size: 18px;
            font-weight: 500;
            color: black;
            text-align: center;
            margin-top: 10px;
        }

        &:hover {
            background-color: white;
            transform: scale(1.05);
        }
    }

    &--list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 20px;
    }
}