@keyframes heroanimation {
    0% {
        background-color: $first-color;
    }
    33% {
        background-color: rgb(56, 66, 160);
    }
    66% {
        background-color: rgb(47, 114, 240);
    }

    99% {
        background-color: $first-color;
    }
}

@keyframes skillsanimation {
    0% {
        transform:rotateX('30deg')
    }
    50% {
        transform:rotateX('0deg')
    }
    100% {
        transform:rotateX('30deg')
    }
}

@keyframes modalan {
    0% {
        color: $first-color;
        transform: scale(1);
    }

    50% {
        color: limegreen;
        transform: scale(1.1);
    }

    100% {
        color: $first-color;
        transform: scale(1);
    }
}