.backdrop {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1.5s;
}



.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 24px;
  transition: 1.5s;
  border-radius: 10px;
  width: 500px;
  transform: translate(-50%, -50%);
}

.modal-close {
  border: 1px solid #fafafa;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-close .fa-xmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close:hover {
  color: orange;
  border: 1px solid orange;
  transition: 0.5s;
}

.modal-title {
  font-size: 16px;
  color: orange;
  margin: 0;
}

.modal-form label {
  font-size: 14px;
}

.modal-form input {
  padding: 4px 8px;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
}

.modal-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.modal-form {
  margin-top:  17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form textarea {
  resize: none;
  padding: 8px 16px;
  height: 100px;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
}

.modal-btn {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background-color: orange;
  border-radius: 5px;
  border: none;
  height: 40px;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  transition: 0.5s;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}