

.hero-wrapper {
    padding: 1px;
}

.footer-text-wrap {
        font-size: 20px;
        font-weight: 400;
        color: white;
        
}


@media (max-width: 768px) {
    .footer-text-wrap {
        display: flex;
        flex-direction: column;
    }
}

.header__menu {
    align-items: center;
    display: flex;
}